@model IEnumerable<DynamicMappingCore.Models.JsonMapModel>

@{
    ViewData["Title"] = "Map Json Custom";
}

<h1>Map Json Custom</h1>

@*<input type="button" id="btnSaveCustom" value="Save & Convert [Custom]" class="btn btn-primary" />*@
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table" id="mainTable">
                <thead>
                    <tr>
                        <th>Component Type</th>
                        <th>Destination</th>
                        <th>Source</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<input type="button" id="btnAdd" value="Add" class="btn btn-primary" onclick="addRow()" />
<input type="button" id="btnSaveJsonAta" value="Save & Convert [JsonAta]" class="btn btn-primary" />
<input type="button" id="btnLockAllRow" value="Lock All Rows" class="btn btn-primary" />

<p>Json ata Query</p>

<div class="row" style="background-color:lightgray">
    <p id="jsonataResult" style="word-break: break-all;"></p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/lib/select2.min.js"></script>
<script src="~/lib/jsonata.min.js"></script>
<script>
    $(function() {

        renderUI();

        $("#btnSaveJsonAta").click(function() {
            //Post
            $.post('/Home/SaveMappingJsonAtaWithQuery', {
                    jsonMetaDataList: jsonMetaDataList,
                    jsonataQuery: "{" + jsonataQuery + "}"
                })
                .done(function(response, status, jqxhr) {
                    window.location.href = 'https://localhost:44325/Home/ResultJson';
                })
                .fail(function(jqxhr, status, error) {
                    console.log(error);
                });
        });

        $("#btnSaveCustom").click(function() {
            //Post
            $.post('/Home/SaveMappingCustom', {
                    jsonMetaDataList: mapTable,
                })
                .done(function(response, status, jqxhr) {
                    window.location.href = 'https://localhost:44325/Home/ResultJson';
                })
                .fail(function(jqxhr, status, error) {
                    console.log(error);
                });
        });

        $("#btnLockAllRow").click(function() {
            $("#mainTable tbody tr input:checkbox").each(function(){ $(this).prop('checked', true); $(this).trigger('onclick'); });
        });
    });


    // rendre UI on page load
    function renderUI() {

        $.get('/Home/GetJsonMetaData')
            .done(function(response, status, jqxhr) {
                if (response.length > 0) {
                    response[0].forEach(function(element, index) {
                        let row = addRow();
                        $('#component' + row).val(element.componentType);
                        if (element.componentType == "mapping-Table") {
                            renderMappingTable(row, element.source, element.target, element.expression);
                        }else if (element.componentType == "foreach") {
                            renderLoopingTable(row, element.source, element.target, element.expression);
                        }
                        else if (element.componentType == "jsonata-expression") {
                            $('#target' + row).val(element.target);
                            showExpressionArea(row);
                            $('#expression' + row).val(element.expression);
                        } else if (element.componentType == "custom-field") {
                            $('#target' + row).append('<option value=' + element.target + ' selected >' + element.target + '</option>');
                            $('#source' + row).append('<option value=' + element.source + ' selected >' + element.source + '</option>');
                        } else if (element.componentType == "concatenate") {
                            $('#target' + row).val(element.target);
                            $('#source' + row).select2({tags:true,multiple:true,tokenSeparators: [',', ' ']});
                            $('#source' + row).val(GenerateConcatenateDropDownValue(element.source)).change();
                        } else {
                            $('#target' + row).val(element.target);
                            $('#source' + row).val(element.source);
                        }
                    });
                }
            })
            .fail(function(jqxhr, status, error) {
                console.log(error);
            });
    }

    // render mapping table on load
    function renderMappingTable(rowNumber, source, target, expression) {
        addMappingTable(rowNumber);
        $('#target' + rowNumber).val(target);
        $('#source' + rowNumber).val(source);

        let expressionArray = expression.split(')').join('').split('(').join('').split(':');
        expressionArray.reverse();
        expressionArray.forEach(function(element, index) {
            let tempSourceDestination;
            let tempDestination = "";
            let tempSource = "";
            if (index == 0) //Last element processing
            {
                tempSourceDestination = element.trim()
                tempDestination = tempSourceDestination.trim();
                tempSource = '\*';
            } else {
                tempSourceDestination = element.trim().split('=')[1].split('?');
                tempDestination = tempSourceDestination[1].trim();
                tempSource = tempSourceDestination[0].trim();
            }
            $('#mappingTable' + rowNumber).append('<tr><td><input type="text" value=' + tempDestination + ' /></td><td><input type="text" value=' + tempSource + ' /></td></tr>');
        });
    }

     // render mapping table on load
    function renderLoopingTable(rowNumber, source, target, expression) {
        addLoopingTable(rowNumber);
        $('#target' + rowNumber).val(target);
        $('#source' + rowNumber).val(source);

        let initialPart = expression.substr(expression.indexOf('{{') + 2);
        let finalPart = initialPart.substr(0,initialPart.indexOf('}}'));
        let expressionArray = finalPart.split(',').filter(i => i)
        expressionArray.forEach(function(element, index) {
            let tempSourceDestination;
            let tempDestination = "";
            let tempSource = "";
            tempSourceDestination = element.trim().split(':');
            tempSource = tempSourceDestination[1].trim().replace("$v.", "$");
            tempDestination = tempSourceDestination[0].trim();
            $('#loopingTable' + rowNumber).append('<tr><td><input type="text" value=' + tempDestination + ' /></td><td><input type="text" value=' + tempSource + ' /></td></tr>');
        });
    }

    // add new row in main table.
    function addRow() {
        rowNumber++;
        var row = '<tr id="row' + rowNumber + '" class="simpleRow">' +
            '<td class="col-2" id="column1" ><select class="form-control" id="component' + rowNumber + '" onchange="componentChange(this,' + rowNumber + ')"></td>' +
            '<td class="col-4" id="column2" ><select class="form-control" id="target' + rowNumber + '" ></select></td>' +
            '<td class="col-4" id="column3" ><select class="form-control" id="source' + rowNumber + '" ></select><input type="text" id="expression' + rowNumber + '" style="display:none;width:100%"/></td>' +
            '<td class="col-2" id="column4" ><input type="checkbox" id="row' + rowNumber + '" onclick="lockRow(this,' + rowNumber + ')" name="Lock"/>  <label for="Lock">Lock</label></td>' +
            '</tr>';

        $('#mainTable').append(row);

        //Compnent Drop Down
        var components = $('#component' + rowNumber).select2();
        for (let index in componentsList) {
            components.append('<option value=' + componentsList[index] + '>' + componentsList[index] + '</option>');
        }

        var targetKVP = @Json.Serialize(Model.LastOrDefault().FieldsAndType);

        var target = $('#target' + rowNumber).select2();

        target.append('<option value="-1">Select Target</option>');
        for (let index in targetKVP) {
            target.append('<option value=' + targetKVP[index].field + ' :: ' + targetKVP[index].type + '>' + targetKVP[index].field + ' :: ' + targetKVP[index].type + '</option>');
        }

        //Source binding
        var sourceKVP = @Json.Serialize(Model.FirstOrDefault().FieldsAndType);

        var source = $('#source' + rowNumber).select2();

        for (let index in sourceKVP) {
            source.append('<option value=' + sourceKVP[index].field + ' :: ' + sourceKVP[index].type + '>' + sourceKVP[index].field + ' :: ' + sourceKVP[index].type + '</option>');
        }

        return rowNumber;
    }

    function lockRow(element, rowNumber) {

        // Get Details For Each Row
        var componentDropDown = $('#component' + rowNumber + ' :selected');
        var sourceDropDown = $('#source' + rowNumber + ' :selected');
        var targetDropDown = $('#target' + rowNumber);

        //Data Structure to Persist Data
        var jsonMetaData = {};

        //Check Component Type
        if (componentDropDown.val() == "mapping-Table") {
            let tempSource = GenerateMappingTableQuery(sourceDropDown.val(), rowNumber);
            jsonataQuery += '"' + targetDropDown.val() + '":' + tempSource + ',';
            jsonMetaData.expression = tempSource;
            jsonMetaData.source = sourceDropDown.val();
        }else if (componentDropDown.val() == "foreach") {
            let tempSource = GenerateLoopingTableQuery(sourceDropDown.val(), rowNumber);
            jsonataQuery += '"' + targetDropDown.val() + '":' + tempSource + ',';
            jsonMetaData.expression = tempSource;
            jsonMetaData.source = sourceDropDown.val();
        } else if (componentDropDown.val() == "jsonata-expression") {
            let expression = $('#expression' + rowNumber).val();
            jsonMetaData.expression = expression;
            jsonataQuery += '"' + targetDropDown.val() + '":' + expression + ',';
        } else if (componentDropDown.val() == 'concatenate') {
            let concatenateQuery = GenerateConcatenateQuery(sourceDropDown);
            jsonataQuery += '"' + targetDropDown.val() + '":' + concatenateQuery + ',';
            jsonMetaData.source = concatenateQuery;
        } else {
            jsonataQuery += '"' + targetDropDown.val() + '":' + sourceDropDown.val() + ',';
            jsonMetaData.source = sourceDropDown.val();
        }

        // Replace all ,} with };
        PrettyPrintJson('{' + jsonataQuery.replace(/,}*$/, "}") + '}');
        console.log('{' + jsonataQuery.replace(/,}*$/, "}") + '}');

        //Disable Row
        $(element).closest('tr').find(':input').attr('disabled', !this.checked);

        jsonMetaData.target = targetDropDown.val();
        jsonMetaData.componentType = componentDropDown.val();

        if (!jsonMetaDataList.some(x => x.name == targetDropDown.val()))
            jsonMetaDataList.push(jsonMetaData);
    }

    function GenerateConcatenateQuery(dropDown) {
        let concatenateQuery = "";
        for (let index = 0; index < dropDown.length; index++) {
            concatenateQuery += dropDown[index].innerText.split("::")[0] + " & ";
        }
        // remove last &
        concatenateQuery = concatenateQuery.substring(0, concatenateQuery.length - 2);
        return concatenateQuery;
    }

    function GenerateConcatenateDropDownValue(csvString) {
        let splitedValues = csvString.split(' & ').map(function(item) {
            return item.trim();
        });
        return splitedValues;
    }

    function GenerateMappingTableQuery(sourceDropDownValue, rowNumber) {
        let mappingQuery = "";
        let mappingTableStack = [];
        let rowList = $('#mappingTable' + rowNumber + ' tbody tr').get().reverse();

        for (let index = 0; index < rowList.length; index++) {
            let destinationValue = $(rowList[index]).find("td:eq(0) input[type='text']").val();;
            let sourcevalue = $(rowList[index]).find("td:eq(1) input[type='text']").val();

            if (sourcevalue != '*')
                mappingTableStack.push("(" + sourceDropDownValue + " = " + sourcevalue + " ? " + destinationValue + " : ");
            else
                mappingTableStack.push(destinationValue)
        }

        for (let index in mappingTableStack)
            mappingQuery += mappingTableStack[index];

        // add Brackets
        if (mappingTableStack.length > 0) {
            var closingBrack = ")";
            mappingQuery += closingBrack.repeat(mappingTableStack.length - 1)
        }
        return mappingQuery;
    }

     function GenerateLoopingTableQuery(sourceDropDownValue, rowNumber) {

        let rowList = $('#loopingTable' + rowNumber + ' tbody tr');
        let loopFor = '$map(' + sourceDropDownValue +',function($v){{%json%}})';
        let loopingQuery = ""
        for (let index = 0; index < rowList.length; index++) {
            let destinationValue = $(rowList[index]).find("td:eq(0) input[type='text']").val();;
            let sourcevalue = $(rowList[index]).find("td:eq(1) input[type='text']").val();
            loopingQuery += '"' + destinationValue+ '" : ' +
                                (sourcevalue.startsWith("$") ? sourcevalue.replace('$','$v.'): sourcevalue) + ',';
        }

        loopingQuery = loopFor.replace('%json%',loopingQuery)
        return loopingQuery;
    }

    function GenerateConditionQuery(LeftPart, rigthPart, condition, truePart, falsepart) {
        let conditionPart = LeftPart + condition + rigthPart;
        let _truePart = truePart;
        let _falsePart = falsepart;
        return conditionPart + " ? " + _truePart + " : " + _falsePart;
    }

    function componentChange(element, rowNumber) {

        // Get Component details
        var componentDropDown = $('#component' + rowNumber + ' :selected');

        //Reset setting on componenet drop down change
        $('#source' + rowNumber).select2({tags:false,multiple:false}).val(null).trigger('changes');
        $('#target' + rowNumber).select2().val(null).trigger('changes');

        var sourceDropDownOptions = $('#source' + rowNumber + ' > option');
        var targetDropDownOptions = $('#target' + rowNumber + ' > option');

        // Hide additional things.
        hideMappingTable(rowNumber);
        hideExpressionArea(rowNumber);
        hideLoopingTable(rowNumber);
        disableArrayObjectOption(targetDropDownOptions);
        disableArrayObjectOption(sourceDropDownOptions);

        //Render complete row
        if (componentDropDown.val() == 'mapping-Table') {
            addMappingTable(rowNumber);
        } else if (componentDropDown.val() == "jsonata-expression") {
            showExpressionArea(rowNumber);
        } else if (componentDropDown.val() == 'custom-field') {
            $('#target' + rowNumber).select2({tags:true,tokenSeparators: [',', ' ']});
            //disable all target fields name
            targetDropDownOptions.each(function() {
                $(this).prop('disabled', function(_, disabled) {
                    return true;
                });
            });
        } else if (componentDropDown.val() == "concatenate") {
            // Handling Source DropDown
            $('#source' + rowNumber).select2({tags:true,multiple:true,tokenSeparators: [',', ' ']});
        } else if (componentDropDown.val() == "foreach"){
            enableArrayObjectOption(targetDropDownOptions);
            enableArrayObjectOption(sourceDropDownOptions);
            addLoopingTable(rowNumber);
        }
    }

    function disableArrayObjectOption(dropdown)
    {
        //disable all object and array fields if any
            dropdown.each(function() {
                if (this.text.includes(':: Array') || this.text.includes(':: Object')) {
                    $(this).prop('disabled', function(_, disabled) {
                        return true;
                    });
                } else {
                    $(this).prop('disabled', function(_, disabled) {
                        return false;
                    });
                }
            });
    }

    function enableArrayObjectOption(dropdown)
    {
        //enable all object and array fields if any
            dropdown.each(function() {
                 if (this.text.includes(':: Array') || this.text.includes(':: Object')) {
                    $(this).prop('disabled', function(_, disabled) {
                        return false;
                    });
                }
                else {
                    $(this).prop('disabled', function(_, disabled) {
                        return true;
                    });
                }
            });
    }

    function showExpressionArea(rowNumber) {
        $('#source' + rowNumber).select2().next().hide();
        $('#expression' + rowNumber).show();
    }

    function hideExpressionArea(rowNumber) {
        $('#source' + rowNumber).select2().next().show();
        $('#expression' + rowNumber).hide();
    }

    // Add Nested Mapping Table in Main Table
    function addMappingTable(rowNumber) {

        //Check Mapping Row Exists or not
        let mappingRowExists = $('#mappingRow' + rowNumber);

        // create if not exists
        if (mappingRowExists.length == 0) {
            let mappingTableRow =
                '<tr id="mappingRow' + rowNumber + '">' +
                '<td colspan="4">' +
                '<div class="row"><div class="col-md-1"><input type="button" id="btnAddMapping' + rowNumber + '" value=" + " class="btn btn-primary" onclick="addMappingRow(this,' + rowNumber + ')" />' +
                '</div><div class="col-md-11"><div class="table-responsive">' +
                '<table class="table" id="mappingTable' + rowNumber + '">' +
                '<thead><tr><th>Destination</th><th>Source</th><th>Action</th></tr></thead>' +
                '<tbody></tbody></table></div></div></div></td></tr>';

            $('#mainTable').append(mappingTableRow);
        }
        // If row already exist and hide due to component change then show it again.
        else {
            mappingRowExists.show();
        }
    }

     // Add Nested Looping  Table in Main Table
    function addLoopingTable(rowNumber) {

        //Check Looping Row Exists or not
        let loopingRowExists = $('#loopingRow' + rowNumber);

        // create if not exists
        if (loopingRowExists.length == 0) {
            let loopingTableRow =
                '<tr id="loopingRow' + rowNumber + '">' +
                '<td colspan="4">' +
                '<div class="row"><div class="col-md-1"><input type="button" id="btnAddFields' + rowNumber + '" value=" + " class="btn btn-primary" onclick="addLoopingRow(this,' + rowNumber + ')" />' +
                '</div><div class="col-md-11"><div class="table-responsive">' +
                '<table class="table" id="loopingTable' + rowNumber + '">' +
                '<thead><tr><th>Destination</th><th>Source</th><th>Action</th></tr></thead>' +
                '<tbody></tbody></table></div></div></div></td></tr>';

            $('#mainTable').append(loopingTableRow);
        }
        // If row already exist and hide due to component change then show it again.
        else {
            loopingRowExists.show();
        }
    }

    // hide show mapping table when component changes
    function hideMappingTable(rowNumber) {
        $('#mappingRow' + rowNumber).hide();
    }


    // hide show mapping table when component changes
    function hideLoopingTable(rowNumber) {
        $('#loopingRow' + rowNumber).hide();
    }

    // Add new row in mapping table for mapping component.
    function addMappingRow(element, rowNumber) {
        $('#mappingTable' + rowNumber).append('<tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="button" id="btnRemoveMapping' + rowNumber + '" value="Remove Mapping" class="btn btn-danger" onclick="deleteRow(this,' + rowNumber + ')" /></td></tr>');
    }

     // Add new row in looping table for mapping component.
    function addLoopingRow(element, rowNumber) {
        $('#loopingTable' + rowNumber).append('<tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="button" id="btnRemoveMapping' + rowNumber + '" value="Remove Mapping" class="btn btn-danger" onclick="deleteRow(this,' + rowNumber + ')" /></td></tr>');
    }

    function deleteRow(element, rowNumber) {
           $(element).closest("tr").remove();
    }

    var rowNumber = 0;
    var componentsList = ["Select Component", "simple", "concatenate", "custom-field", "mapping-Table", "jsonata-expression", "foreach" ];
    var condtionList = [{
            key: 'Equals',
            value: '=='
        },
        {
            key: 'Not Equals',
            value: '!='
        },
        {
            key: 'Greater',
            value: '&gt'
        },
        {
            key: 'Lesser',
            value: '<'
        }
    ];
    var jsonMetaDataList = [];
    var jsonataQuery = "";
</script>
}